._14-component
{
    background-color: #222534;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 75px;
    border-top: 1px solid rgba(128, 128, 128, 0.25);
    border-bottom: 1px solid rgba(128, 128, 128, 0.25);
}